* {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
  font-family: sans-serif;
}

.container {
  width: 400px;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  align-items: center;
  flex-direction: column;
  background-color: #496868;
}

h2 {
  top: 20px;
  color: white;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

.kalkulator {
  gap: 10px;
  width: 300px;
  height: 500px;
  display: grid;
  overflow: hidden;
  border-radius: 30px;
  margin: 20px auto 0 auto;
  padding: 0px 20px 0px 40px;
  background-color: #f3f3f3;
  grid-template-columns: repeat(4, 1fr);
}

.tAngka {
  width: 55px;
  height: 55px;
  cursor: pointer;
  line-height: 55px;
  border-radius: 50%;
  text-align: center;
  transition: all 300ms;
  background-color: #74cccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.tAngka:hover {
  background-color: #69b8b8;
  transform: scale(0.8);
}

#display {
  width: 300px;
  height: 80px;
  cursor: pointer;
  grid-column: span 4;
  border-radius: 50px;
  margin: 30px auto 0 auto;
  background-color: #ebf4f3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

p {
  color: white;
  cursor: pointer;
  margin-top: 22px;
  display: inline-block;
}

span {
  color: #74cccc;
}

/* ============== Responsif hp ============== */
@media (min-width: 576px) {
}
