* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 600px) {
}

.container {
  margin: 40px auto;
  width: 300px;
  height: 450px;
  background-color: #139696;
  border-radius: 10px;
  padding-top: 20px;
  text-align: center;
  position: relative;
}

h2 {
  position: absolute;
  right: 100px;
}

.kalkulator {
  width: 200px;
  height: 350px;
  background-color: #e3e9e9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 15px;
  position: absolute;
  left: 49px;
  bottom: 45px;
  padding: 10px;
}

#display {
  grid-column: span 4;
  width: 150px;
  height: 40px;
  background-color: #edefef;
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.2);
  margin: 0 auto;
}

.tAngka {
  width: 35px;
  height: 35px;
  background-color: #edefef;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.2);
}

.c {
  background-color: #3b8f8f;
  color: white;
}

.b {
  background-color: #049de4cc;
}

#tUbahWarna {
  width: 60px;
  height: 30px;
  position: absolute;
  background-color: rgb(86, 86, 102);
  border-radius: 50px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.bg-body {
  background-color: black;
}
